.cartModal{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}
.cartContent{
    width: 700px;
    position: relative;
    top: 10%;
    margin: 0 auto;
    padding: .5rem;
    background: #f0f0f0;
    &__title{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-bottom: .5rem;
        font-weight: bold;
    }
    &__title > button{
        border: none;
        cursor: pointer;
    }
}
.hide{
    display: none;
}