.card {
  height: 180px;
  border-radius: 10px;
  flex: 1 0 21%;
  border: 2px solid var(--primary);
  margin: .5rem .5rem;
  background-color: var(--white);
  .NEW {
    color: #04be00;
    font-weight: 700;
  }

  .DOING {
    color: #f88f14;
    font-weight: 700;
  }

  .DONE {
    color: #675bf1;
    font-weight: 700;
  }

  &__container {
    padding: 10px;
  }
  &__btnClose{
    position: relative;
    top:-8px;
    left: 5px;
    text-align: right;
  }
  &__btnClose > button{
    border: none;
    background:none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  &__title,
  &__status,
  &__description > p:first-child {
    font-weight: bold;
  }

  &__status {
    &--new {
      color: var(--new);
      font-weight: bold;
    }
    &--doing{
      color: var(--orange);
      font-weight: bold;
    }
    &--primary{
      color: var(--primary);
      font-weight: bold;
    }
    font-weight: bold;
  }
  &__lineBreak {
    height: 2px;
    background: var(--primary);
  }

  &__description > p:last-child {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__btn{
    margin-top: .5rem;
    text-align: center;
    outline: none;
   
  }
  &__btn > button{
    padding: 5px 30px;
    background: #0984e3;
    border: 1px solid #dfe4ea;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 1rem;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px, rgba(0, 0, 0, 0.22) 0px 5px 2px;
    
  }
  &__btn > button > select{
    outline: none;
  }
 
}
.card__btn--update {
  padding: 5px 30px;
  background: #0984e3;
  border: 1px solid #dfe4ea;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 1rem;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px, rgba(0, 0, 0, 0.22) 0px 5px 2px;
}
